.menu{
	position: absolute;
	display: none;
	left: 0;
	top: 0;
	width: 155px;
	padding-top: 7px;
	padding-bottom: 7px;
	background-color: #fff;
	border: 1px solid #d0cfd4;
	font-size: 13px;
	color: #383d48;

	li{
		height: 32px;
		line-height: 32px;
		padding: 0 10px;
		text-align: left;
		cursor: pointer;

		&:hover{
			background-color:#409de0;
			color: #fff;
		}
	}

	.add-nav{
		display: block;
	}
	.remove-nav{
		display: none;
	}

	&.add-naved{
		.add-nav{
			display: none;
		}
		.remove-nav{
			display: block;
		}
	}
}