<div class="peopel-remove-panel">
	<span class="name">
		<%= name %>
	</span>
	<span class="mail">
		<%= mail %>
	</span>
	<span class="btn-ok JS-btn-ok">删除</span>
	<span class="btn-cancel JS-btn-cancel">取消</span>
</div>

