<li class='item JS-filter-item' data-id="<%= uuid %>">
	<% if ( avatar ) { %>
		<img src='<%= avatar %>?width=70&height=70'>
	<% } %>
	<span class="name"><%= name %></span>
	<span class="text"><%= text %></span>
</li>