<span class="icon <%= icon %>"></span>
<% if( isImage ) { %>
 	<img src="<%= url %>">
<% } %>
<div class="content">
	<div class="name"><%= name %></div>
	<div class="date">
		<%= date %>
		<span class="size"><%= size %></span>
	</div>
</div>
<span class="checkbox JS-checkbox"></span>


