<li class='department JS-department' data-id="<%= id %>" data-parent=true>
	<% if ( avatar ) { %>
		<span class="item-avatar" style="background-image:url(<%= avatar %>?width=70&height=70)">
		</span>
	<% } %>
	<div class="item-name"><%= name %></div>
	<span class="arrow-right"></span>
</li>