.contact{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #FFFFFF;
    border-radius: 6px;

    .org-structure{
        position: absolute;
        left: 0;
        width: 240px;
        top: 0;
        bottom: 0;
    }

    .department-detail{
        position: absolute;
        left: 240px;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .search-panel{
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        display: none;
    }
}