
    <div class="user-name-city" style='background-image:url("<%= data.avatar %>")'>

        <div class="user-name">
             <span class="name"><%= data.name %></span>
        </div>

        <div class="user-city">
            <%= data.location %>
        </div>

    </div>