
    <p class="text-belong">
        <label>直属</label>
        <span><%= data.parents[0].name %></span>
    </p>

    <p class="text-sub">
       <label>子部门</label>
       <span><%= data.children_count %></span>
   </p>

    <p class="text-members">
        <label>成员</label>
        <span><%= data.all_members_count %></span>
    </p>

