<div class='group-hd JS-group-hd'>
	<% var arrow %>
	<% if ( children_count == 0 ) { %>
		<% arrow="arrow-hide" %>
		
	<% } %>
	<span class="group-arrow JS-arrow">
		<i>&nbsp;</i>
	</span>
	<span class="group-name"><%= name %></span>
	<div class="tool">
        <i class="tool-icon">&nbsp;</i>
        <ul class="tool-list JS-tool-list">
            <li class="tool-item create-depart first-item">创建子部门</li>
            <li class="tool-item rename-depart">重命名</li>
            <li class="tool-item delete-depart">删除部门</li>
        </ul>
    </div>
</div>
<div class="group-bd JS-group-bd">
	<ul></ul>
	<div class="JS-error error">点击重新加载</div>
    <div class="JS-load-more load-more">点击加载更多</div>
    <div class="JS-more-error more-error">加载失败， 点击重新加载</div>
    <div class="JS-loading loading">正在加载...</div>
</div>
