.transfer-upload{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	
	ul{
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		overflow-y: auto; 
	}

	.empty{
		position: absolute;
		display: none;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
}



