<!-- <span class="department-name" style='background-image:url("<%= data.avatar %>")'><%= data.name %></span> -->
<span class="department-name"><i style='background-image:url("<%= data.avatar %>")'></i><%= data.name %></span>

<span class="department-belong text-overflow"><%= data.parentDepartName %></span>
<span class="department-sub "><%= data.children_count %></span>
<span class="department-members"><%= data.all_members_count %></span>


