<span class="name JS-name"><%= fileName %></span>
<!-- <span class="loading JS-loading"></span> -->
<span class="progress JS-progress">0%</span>
<span class="reload JS-reload"></span>
<span class="download JS-download"></span>
<span class="cancel JS-cancel"></span>