<li class='item JS-item <%= className %>' data-id="<%= id %>">
	<% if ( avatar ) { %>
		<span class="item-avatar" style="background-image:url(<%= avatar %>?width=70&height=70)">
		</span>
	<% } %>
	<div class="item-name"><%= name %></div>
	<span class="checkbox JS-checkbox"></span>
</li>