<div class="item-hd">
	<span class="name"><%= name %></span>
	<span class="attachment <%= attachmentsClass %>"></span>
</div>
<div class="item-subject">
	<%= subject %>
</div>
<div class="item-content">
	<%= content %>
</div>
<span class="item-time"><%= time %></span>
<span class="item-unread JS-unread <%= readClass %>"></span>

