.set-select-node{
	ul{
		padding-left: 20px;
	}

	
	>.group-bd{
		display: none;
	}

	&.open{
		>.group-bd{
			display: block;
		}

		>.group-hd>.group-arrow>i{
			background-image: url(img/arrow-down@2x.png?__sprite);
		}
	}

	&.state-loading{
		>.group-hd>.group-arrow>i{
			background-size:100%;
			background-position: 0 0; 
			background-image: url(img/loading.gif);
		}
	}
	

	>.group-hd{
		position: relative;
		height: 32px;
		line-height: 32px;
		cursor: pointer;
		text-overflow:ellipsis;
		overflow: hidden;
		white-space: nowrap;
		padding-left: 28px;
		>.group-name{
			display: inline-block;
			white-space: nowrap;
		}
		>.group-arrow{
			display: inline-block;
			position: absolute;
			height: 32px;
			width: 28px;
			left: 0;
			right: 0;
		}
		>.group-arrow>i{
			display: inline-block;
			position: absolute;
			top: 10px;
			left: 10px;

			width: 12px;
			height: 12px;
			background-size: 100%;
			background-image: url(img/arrow@2x.png?__sprite);
		}
	}

	&.selected>.group-hd{
		background-color: #f4f4f6;
	}

	li{
		white-space: nowrap;
		min-height: 32px;
	}

    .error,
	.more-error,
    .load-more,
    .loading{
		display: none;
		line-height: 32px;
		padding-left: 40px;
		cursor: pointer;
		color:#989da6;
	}

}