<span class="icon <%= icon %>"><i class="icon-state"></i></span>
<div class="content">
	<div class="name"><%= name %></div>
	<div class="progress-module">
		<div class="progress-bar">
			<div class="progress-inner  JS-progress-inner"></div>
		</div>
		<span class="progress-num JS-progress-num">0%</span>
	</div>
	<div class="success-module">
		上传成功 <%= size %>
	</div>
	<div class="wait-module">
		等待上传
	</div>
	<div class="error-module">
		上传失败
	</div>
</div>
<span class="remove JS-remove"></span>


