<div class="avatar" style="background-image:url( <%= creator_info.avatar %>?width=70&height=70 )">
</div>
<div class="comment-info">
    <span class="name"><%= creator_info.name %></span>
    <span class="time"><%= time %></span>
</div>
<div class="comment-text">
    <%= content %>
</div>
