<span class="btn btn-info btn-three-one" data-action="correct">修改</span>
<span class="btn btn-default btn-three-two" data-action="delete">删除</span>

<% var action="",dataAction="" %>
<% if(data.is_admin) {%>
    <% action="撤销管理员" %>
    <% dataAction="remove-admin" %>
<%} else {%>
    <% action="设置管理员" %>
    <% dataAction="add-admin" %>
<% } %>
<span class="btn btn-default set-admin" data-action="<%= dataAction %>"><%= action %></span>