.float-panel .user-detail {
    position: absolute;
    right: 0;
    width: 350px;
    top: 0;
    bottom: 0;
    .user-detail-head {
        height: 130px;
        background: #f3f3f3;
        padding: 36px 20px 10px 20px;
        .user-name-city {
            font-size: 18px;
            height: 60px;
            width: 100%;
            background-repeat: no-repeat;
            background-size: 60px 60px;
            background-position: left center;
            padding-left: 80px;
            position: relative;
            i {
                display: inline-block;
                width: 60px;
                height: 60px;
                position: absolute;
                content: " ";
                border-radius: 50%;
                top: 0px;
                left: 0px;
                background-repeat: no-repeat;
                background-size: 60px 60px;
                background-position: left center;
            }
            .user-name {
                padding-top: 2px;
                padding-bottom: 12px;
                span {
                    display: inline-block;
                    vertical-align: middle;
                }
                .name {
                    font-size: 18px;
                    color: #333333;
                    margin-right: 10px;
                }
                .admin {
                    color: #999999;
                    font-size: 14px;
                    height: 14px;
                    line-height: 14px;
                    &.notAdmin {
                        visibility: hidden;
                    }
                }
            }
            .user-city {
                color: #999999;
                font-size: 14px;
                height: 14px;
                line-height: 14px;
                background: url("img/location.png") left center no-repeat;
                text-indent: 26px;
            }
            &.self {
                padding-left: 0px;
                .user-name {
                    padding-left: 20px;
                }
                .user-city {
                    background: url("img/location.png") 80px center no-repeat;
                    padding-left: 80px;
                }
                .logo-wraper {
                    position: relative;
                    width: 60px;
                    height: 60px;
                    
                    display: inline-block;
                    float: left;
                    img {
                        width: 60px;
                        height: 60px;
                        border: none;
                        outline: none;
                        border-radius: 50%;
                        vertical-align: top;
                        background-color: #fff;
                        
                    }
                    input {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 60px;
                        height: 60px;
                        opacity: 0;
                        cursor: pointer;
                        display: none;
                    }
                    .logo-action {
                        display: none;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 60px;
                        height: 20px;
                        line-height: 20px;
                        text-align: center;
                        color: #fff;
                        font-size: 12px;
                        background-color: #72bbff;
                    }
                }
            }
        }
        .time {
            margin-top: 10px;
            text-align: right;
            height: 14px;
            line-height: 14px;
            font-size: 14px;
            color: #999999;
        }
        &.modify {
            .user-name-city {
                &.self {
                    .logo-wraper {
                        cursor: pointer;
                        input {
                            display: inline-block;
                        }
                        .logo-action {
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
    .user-detail-text,
    .user-detail-input {
        font-size: 12px;
        position: absolute;
        left: 0;
        right: 0;
        top: 130px;
        bottom: 0;
        .input-content,
        .text-content {
            padding-top: 30px;
            padding-left: 20px;
            padding-right: 20px;
        }
        .error-info {
            margin-left: 48px;
            background: url("img/wrong.png") left center no-repeat;
            text-indent: 18px;
            height: 12px;
            line-height: 14px;
            vertical-align: middle;
            font-size: 12px;
            color: #fe2626;
            margin-bottom: 8px;
            display: none;
        }
        p {
            font-size: 14px;
            line-height: 27px;
            height: 26px;
            margin-bottom: 8px;
            margin-top: 0;
            >label {
                display: inline-block;
                margin-right: 14px;
                color: #999999;
                vertical-align: middle;
            }
            >input,
            >span,
            >textarea {
                width: 260px;
                height: 27px;
                font-size: 14px;
                display: inline-block;
                color: #333333;
                vertical-align: top;
                border: 1px solid transparent;
                padding-left: 5px;
                line-height: 25px;
                &.text-none {
                    color: #c4c4c4;
                }
            }
            >input,
            >textarea {
                outline: none;
                border-color: #eeeeee;
                &:hover,
                &:focus {
                    border: 1px solid #72bbff;
                }
            }
            &.input-intro textarea,
            &.text-intro span {
                height: 100px;
                overflow-x: hidden;
                overflow-y: auto;
            }
            >textarea {
                resize: none;
            }
            >textarea:disabled {
                border: 0;
                &:hover,
                &:focus {
                    border: 0;
                }
                background-color:#fff;
            }
            &.input-sex {
                label {
                    margin-right: 20px;
                }
                span {
                    width: auto;
                    padding-left: 0px;
                    // padding-left: 28px;
                    // background-repeat: no-repeat;
                    // background-size: 18px 18px;
                    // background-position: left center;
                    // background-image: url("img/sex-noselect.png");
                    // &.selected {
                    //     background-image: url("img/sex-select.png");
                    // }
                }
                .male {
                    margin-right: 30px;
                }
                &.self {
                    span {
                        padding-left: 28px;
                        background-repeat: no-repeat;
                        background-size: 18px 18px;
                        background-position: left center;
                        background-image: url("img/sex-noselect.png");
                        &.selected {
                            background-image: url("img/sex-select.png");
                        }
                    }
                }
            }
        }
        .actions {
            position: absolute;
            bottom: 20px;
            left: 0;
            right: 0;
            font-size: 0;
            height: 30px;
            .btn-three-one {
                margin-left: 50px;
                margin-right: 20px;
            }
            .btn-three-two {
                margin-right: 20px;
            }
            .btn-two-one {
                margin-left: 105px;
                margin-right: 20px;
            }
        }
    }
    .user-detail-input {
        display: none;
        input {
            outline: none;
            border: none;
        }
    }
    .hide {
        display: none;
    }
}
