<span class="thumb icon-<%= type %>"></span>
<div class="content">
	<div class="content-hd">
		<%= name %>
		<span class="cancel-icon JS-cancel"></span>
		<span class="restart-icon JS-re"></span>
		
	</div>
	<div class="content-bd">

		<div class="progress-wraper JS-progress">
			<div class="JS-progress-inner progress-inner"></div>
		</div>

		<div class="JS-state-wait wait-state">等待上传</div>
		<div class="JS-state-error error-state">上传失败</div>
		<div class="JS-state-success success-state">上传成功</div>
	</div>
</div>

