<span class="icon <%= icon %>"></span>
<div class="name"><%= name %></div>
<div class="info">
	<span class="size"><%= size %></span>
	<span class="error-info">上传失败</span>
	<span class="wait-info">等待上传</span>
	<span class="success-info">上传成功</span>
	<div class="progress-bar">
		<span class="JS-progress-inner"></span>
	</div>
	<span class="progress-num JS-progress-num"></span>
</div>
<span class="remove JS-remove"></span>
