<li data-id="<%= id %>">
	<span class="label">链接地址：</span>
    <span class="url"><%= url %></span>
    <span class="time"><%= time %></span>
    <span class="invited">已邀请:<%= added %></span>
	<button class="copy JS-copy">复制</span>
    <button class="remove JS-remove">删除</button>
</li>