<a href="../register/index.html" class="new-org">新建组织</a>
<div class="manage-user">
    <span class="user-name"> <%= name %> </span>
    <span class="user-line"></span>
    <span class="user-exit JS-user-exit"> 退出 </span>
</div>