.permissions-item{
	position: relative;
	height: 32px;
	line-height: 32px;
	padding-left: 10px;
	padding-right: 10px;

	&:nth-child(2n + 1){
		background-color: #f7f7f7;
	}

	img{
		width: 20px;
		height: 20px;
		border-radius: 20px;
		vertical-align: middle;
		margin-top: -3px;
	}

	.name{
		vertical-align: middle;
		margin-left: 8px;
	}

	.role-select{
		position: absolute;
		right: 10px;
		top: 0px;
		height: inherit;
		line-height: inherit;
		cursor: pointer;

		&.warn{
			color: #409ee0;
		}
	}

	.role-panel{
		position: absolute;
		display: none;
		width: 80px;
		border-radius: 3px;
		background-color: #fff;
		border: 1px solid #d5d5d5;
		padding-top: 4px;
		padding-bottom: 4px;
		z-index: 10;
		right: -10px;
		top: 32px;
		li{
			height: 20px;
			line-height: 20px;
			text-align: center;
			cursor: pointer;

			&:hover{
				color: #fff;
				background-color: #3c9dda;
			};
		}
		li.last{
			border-top: 1px solid #e1e1e1;
		}
	}
	
}


	