.new-folder{
	.modal-bd{
		min-height: 200px;
	}
	.content{
		position: relative;
		padding:20px;
	}

	.name{
		input{
			height: 35px;
			width:100%;
			border: 1px solid #e1e1e1;
			outline: 0;
			padding: 0 10px;
			color: #383d48;
			font-size: 15px;
		}

		input:focus{
			border: 1px solid #52a9e7;
			box-shadow: 0 0 8px #d4ebf8;
		}

		input::-webkit-input-placeholder{
			color:#8c959d;
			
		}
	}

	.permissions{
		margin-top: 30px;
		font-size: 13px;
		color: #383d48;
	}

	.permissions-label{
		margin-bottom: 8px;
	}

	.permissions-option-radio{
		position: relative;
		padding-left: 25px;
		height: 23px;
		line-height: 23px;
		cursor: pointer;

		span{
			position: absolute;
			display: inline-block;
			width: 24px;
			height: 24px;
			left: -3px;
			top: -1px;
			background-size: 100%;
			background-image: url(img/unselected@2x.png?__sprite);
		}
	}

	.permissions-option.selected {
		.permissions-radio-icon{
			background-image: url(img/selected@2x.png?__sprite);
		}

		.permissions-set{
			display: block;
		}
	}

	.permissions-set{
		display: none;
		margin-top: 15px;
	}

	.permissions-info{
		line-height: 20px;
		span{
			display: inline-block;
			width: 20px;
			height: 20px;
			background-size: 100%;
			background-image: url(img/detail@2x.png?__sprite);
			vertical-align: middle;
			margin-top: -2px;

			&:hover{
				background-image: url(img/detail-active@2x.png?__sprite);
			}
		}
	}

	.btns{
		margin-top: 20px;
		text-align: center;
	}
	
}