<li class='item JS-item' data-name="<%= name %>" data-id="<%= id %>">
	<img class="avatar"src="<%= avatar %>?width=70&height=70">
	<span class="name"><%= name %></span>
	<span class="check"></span>
</li>