.department-search-list{
    position: relative;
    display: none;
    height: 311px;
    border: 1px solid #b5b5b5;
    font-size: 14px;
	overflow:auto;

	>.list{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right:0;
		overflow:auto;

		>li{
			position: relative;
			padding-left: 10px;
			height:40px;
			line-height:40px;
			cursor: pointer;

			&:hover{
				background-color: #f4f4f6;
			}

			>.name{
				display: inline-block;
				line-height: 40px;
				width: 150px;
				text-overflow:ellipsis;
				overflow: hidden;
				white-space: nowrap;
				vertical-align: middle;
			}

			>.avatar{
				display: inline-block;
				width: 30px;
				height: 30px;
                line-height: 40px;
				border-radius: 30px;
				background-color: #f5f5f5;
				vertical-align: middle;
			}

			>.check{
				position: absolute;
				display: inline-block;
				top: 13px;
				right: 15px;
				width: 14px;
				height: 14px;
				background-size: 100%;
				background-image: url(img/uncheck@2x.png?__sprite);
			}

			&.selected>.check{
				background-image: url(img/check@2x.png?__sprite);
			}
		}

	}

	>.empty{
		position: absolute;
		display: none;
		top: 0;
		left: 0;
		bottom: 0;
		right:0;
		text-align: center;
	}

}

