.comment-item {
  position: relative;
  margin-bottom: .2rem;
  border-bottom: 1px solid #e2ecf0;
  margin-left: .3rem;
  padding-right: .3rem;
  padding-bottom: .2rem;
}
.comment-item:last-child {
  border-bottom: none;
}
.comment-item .avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  background-size: 100%;
}
.comment-item .comment-info {
  position: relative;
  margin-left: 50px;
  font-size: .34rem;
  color: #74787e;
}
.comment-item .comment-info .time {
  position: absolute;
  right: 0;
}
.comment-item .comment-text {
  margin-top: 10px;
  margin-left: 50px;
  font-size: .34rem;
  color: #383d48;
  word-break: break-all;
}
