<li class="item-member JS-member" data-id="<%= id %>" style="background-image:url( <%= avatar %>?width=70&height=70 )" data-name="<%= name %>" title="<%= title %>">
	<div class="item-count JS-cover <%= countClass %>" data-count="<%= uncompleted %>">
		<%= uncompleted > 99 ? "99+" : uncompleted %>
	</div>
</li>