<div class="item-hd">
	<div class="item-title JS-item-title">
		<%= name %>
	</div>
	<span class="item-detail JS-detail" title="项目详情"></span>
	<div class="item-seq"></div>
</div>

<div class="item-bd JS-bd">
	<div class="members-wraper JS-members-wraper">

		<div class="item-members JS-members <%= layoutClass %>">
		</div>

		<div class="loading-more JS-more-loading">
			<span class="icon"></span>
		</div>

		<div class="load-more-error JS-more-error">
			加载失败，点击重试
		</div>
	</div>
	

	<div class="item-more JS-more <%= arrowClass %>">
		<i></i>
	</div>
</div>