<li class='item JS-item' data-id="<%= uuid %>">
	<span class="avatar" style="background-image:url(<%= avatar %>?width=70&height=70)"></span>
	<span class="name"><%= name %></span>
	<span class="check"></span>
	<span class="load"></span>
</li>