.project-list-view {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    background-color: #f8f8f8;
    .project-empty {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        display: none;
        .empty-content {
            height: 2rem;
            top: 50%;
            margin-top: -1rem;
            left: 0;
            position: absolute;
            right: 0;
            text-align: center;
            .icon {
                display: inline-block;
                width: .94rem;
                height: 1.21rem;
                background-size: 100%;
                background-image: url(img/delete-tasks_icon.png);
            }
            .text {
                text-align: center;
                font-size: .32rem;
                color: #484b50;
            }
        }
    }
}
