<span class="<%= icon %> item-icon"></span>
<div class="intro">
	<div class="name"><%= name %></div>
	<div class="type"><%= type %></div>
</div>
<div class="description">
	<%= description %>
</div>
<button class="common-button-small JS-ok"><%= buttonText %><i></i></button>



