<% if ( avatar ) { %>
	<span class="item-avatar" style="background-image:url(<%= avatar %>?width=70&height=70)">
	</span>
<% } %>
<span class="item-name"><%= name %></span>
<span class="check"></span>
