.people-select-enhanced{
	
	.people-list{
		.list-title{
			height: 32px;
			line-height: 32px;
		}
		>ul{
			width: 270px;
			height: 262px;
			overflow-y:auto; 
			border: 1px solid #d5d5d5;
			&:hover{
				border: 1px solid #52a9e7;
			}
		}
	}
}