.set-people-mail{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    >.left-panel{
    	position: absolute;
    	left: 0;
    	top: 0;
    	bottom: 0;
    	width: 300px;
    	border-right: 5px solid #f1f1f3;
    }

    >.right-panel{
    	position: absolute;
    	left: 300px;
    	right: 0;
    	top: 0;
    	bottom: 0;
    	>.panel-hd{
    		height: 43px;
    	}
    	>.panel-bd{
    		position: absolute;
    		left: 0;
    		right: 0;
    		top: 43px;
    		bottom: 75px;
    	}
    	>.panel-ft{
    		position: absolute;
    		height: 75px;
    		left: 0;
    		right: 0;
    		bottom: 0;
    	}
    }
}