.menu{
	display: none;
	position: absolute;
	width: 106px;
	border-radius: 5px;
	border: 1px solid #bbb;
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 14px;
	color: #2f2f2f;
	z-index: 10;
	background-color: #f0eff0;
	box-shadow: 0 4px 8px rgba(0,0,0,.2);
	-moz-user-select: none; /*火狐*/
   -webkit-user-select: none;  /*webkit浏览器*/
   -ms-user-select: none;   /*IE10*/
   -khtml-user-select: none; /*早期浏览器*/
   user-select: none;
}

.menu li{
	height: 28px;
	line-height: 28px;
	padding-left: 20px;
	cursor: pointer;
}
.menu li:last-child{
	border-top: 1px solid #d5d5d5;
}

.menu li:hover{
	background-color: #2782f5;
	color: #fff;
}