<div class="comment-item">
	<div class="avatar" style="background-image:url( <%= avatar %>?width=70&height=70 )"></div>
	<div class="comment-info">
		<span class="name"><%= name %></span>
		<span class="time"><%= time %></span>
	</div>
	<div class="comment-text"><%= content %></div>
</div>